<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  lang="pt-br">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    
    <!-- Bootstrap Version 3.3.7-->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"></link>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link th:href="@{css/default.css}" rel="stylesheet"></link>
  </head>
  <body>
  <!---->
    <div class="container-fluid bg-smartgrid text-smartgrid">

      <!--FIRST ROW-->
      <div class="row">

        <div class="col-xs-1">
          <img th:src="@{img/logo.png}" alt="smartgrid-logo"
          class="img-responsive" style="max-height: 100px;"></img>
        </div>

        <div class="col-xs-11">
          <h3><strong>Bem vindo ao SmartGrid!</strong></h3>
        </div>

      </div>
    </div>
    <!--SECOND ROW-->
    <div class="container">
      <div class="row" style="padding-top: 10px;">

          <div class=" col-xs-8 col-xs-offset-2">
            <form th:action="@{/create_account}" method="post" th:object="${usuario}">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input class="form-control" id="nome" th:field="*{nome}" placeholder="João Lopes Gonçalves"></input>
              </div>
              <div class="form-group">
                <label for="cpf">CPF</label>
                <input class="form-control" id="cpf" th:field="*{cpf}" placeholder="123.456.789-01"></input>
              </div>
              <div class="form-group">
                <label for="cnpj">CNPJ</label>
                <input class="form-control" id="cnpj" th:field="*{cnpj}" placeholder="12.345.678/1234-56"></input>
              </div>
              <div class="form-group">
                <label for="telefone">Telefone</label>
                <input class="form-control" id="telefone" th:field="*{telefone}" placeholder="(99) 12345-6789"></input>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{login}" placeholder="meuemail@dominio.com"></input>
              </div>
              <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" th:field="*{senha}" placeholder="**********"></input>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary col-xs-2 col-xs-offset-3">Enviar</button>
              </div>
              <a href="/login">
                <button class="btn btn-primary push-right col-xs-2 col-xs-offset-2">Voltar</button>
              </a>
            </form>
          </div>
        
      </div>
    </div>
  </body>
    <body>
    <div class="col-xs-12 bg-smartgrid" style="position: absolute; bottom:0px; min-height: 10px;"></div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript"
    th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript"
    th:src="@{bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>