<!doctype html>
<!-- O layout base dessa pagina fica em layout/layout.html -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/_layout">
<head>

<title>SmartGrid - Consultar Consumo</title>
<!-- Aqui vc coloca os css que só essa pagina precisa, os comuns ficam no layout exemplo:-->
<link rel="stylesheet" th:href="@{http://www.w3schools.com/lib/w3.css}"></link>

</head>

<section layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<form class="form form-horizontal" action="#" name="searchform"
						method="GET">
						<div class="form-group">
							<label class="col-xs-2 control-label" for="inicio">De</label>
							<div class="col-xs-10">
								<input type="date" class="form-control" id="inicio" name="inicio" placeholder="01/01/2001"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="fim">Até</label>
							<div class="col-xs-10">
								<input type="date" class="form-control" id="fim" name="fim" placeholder="31/12/2050"></input>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-10 col-xs-offset-2">
								<button type="submit" class="btn btn-primary col-xs-2">Buscar</button>
							</div>
						</div>
					</form>
			</div>
			<div class="col-xs-6">
				<h2 class="text-center" id="result">resultado</h2>
			</div>
		</div>
	</div>



<!-- Conteudo da pagina termina aqui -->

<!-- Aqui vc coloca os SCRIPT que só essa pagina precisa, os comuns ficam no layout -->

</section>
</html>